@page
@using Microsoft.Extensions.Localization
@using Abp.ApiKeyManagement.Localization
@using Abp.ApiKeyManagement.Web.Pages.ApiKeyManagement
@model Abp.ApiKeyManagement.Web.Pages.ApiKeyManagement.IndexModel
@inject IStringLocalizer<ApiKeyManagementResource> L

@{
}
<h1>ApiKeyManagement</h1>
<p>@L["SamplePageMessage"]</p>
